In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
a=pd.read_csv('diabetes.csv')
a

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101,76,48,180,32.9,0.171,63,0
764,764,2,122,70,27,0,36.8,0.340,27,0
765,765,5,121,72,23,112,26.2,0.245,30,0
766,766,1,126,60,0,0,30.1,0.349,47,1
767,767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
a=a[(a['Glucose']>20) & (a['BloodPressure']>20)& (a['SkinThickness']>10) & (a['Insulin']>40)& (a['BMI']>10)& (a['DiabetesPedigreeFunction']>0.1)]
a

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1
6,6,3,78,50,32,88,31.0,0.248,26,1
8,8,2,197,70,45,543,30.5,0.158,53,1
13,13,1,189,60,23,846,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...,...
751,751,1,121,78,39,74,39.0,0.261,28,0
753,753,0,181,88,44,510,43.3,0.222,26,1
755,755,1,128,88,39,110,36.5,1.057,37,1
763,763,10,101,76,48,180,32.9,0.171,63,0
765,765,5,121,72,23,112,26.2,0.245,30,0

In [4]:
a.reset_index(inplace=True)
a

,index,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,3,1,89,66,23,94,28.1,0.167,21,0
1,4,4,0,137,40,35,168,43.1,2.288,33,1
2,6,6,3,78,50,32,88,31.0,0.248,26,1
3,8,8,2,197,70,45,543,30.5,0.158,53,1
4,13,13,1,189,60,23,846,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...,...,...
361,751,751,1,121,78,39,74,39.0,0.261,28,0
362,753,753,0,181,88,44,510,43.3,0.222,26,1
363,755,755,1,128,88,39,110,36.5,1.057,37,1
364,763,763,10,101,76,48,180,32.9,0.171,63,0
365,765,765,5,121,72,23,112,26.2,0.245,30,0

In [5]:
data=a.iloc[:,2:10]
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1,89,66,23,94,28.1,0.167,21
1,0,137,40,35,168,43.1,2.288,33
2,3,78,50,32,88,31.0,0.248,26
3,2,197,70,45,543,30.5,0.158,53
4,1,189,60,23,846,30.1,0.398,59
...,...,...,...,...,...,...,...,...
361,1,121,78,39,74,39.0,0.261,28
362,0,181,88,44,510,43.3,0.222,26
363,1,128,88,39,110,36.5,1.057,37
364,10,101,76,48,180,32.9,0.171,63
365,5,121,72,23,112,26.2,0.245,30

In [6]:
#normalizasyon
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

x_scaled = sc.fit_transform(data)
x_scaled

array([[0.05882353, 0.23239437, 0.45      , ..., 0.20245399, 0.0270027 ,
        0.        ],
       [0.        , 0.57042254, 0.125     , ..., 0.50920245, 0.98154815,
        0.2       ],
       [0.17647059, 0.15492958, 0.25      , ..., 0.26175869, 0.06345635,
        0.08333333],
       ...,
       [0.05882353, 0.50704225, 0.725     , ..., 0.37423313, 0.42754275,
        0.26666667],
       [0.58823529, 0.31690141, 0.575     , ..., 0.3006135 , 0.02880288,
        0.7       ],
       [0.29411765, 0.45774648, 0.525     , ..., 0.16359918, 0.06210621,
        0.15      ]])

In [7]:
labels=a['Outcome']
labels

0      0
1      1
2      1
3      1
4      1
      ..
361    0
362    1
363    1
364    0
365    0
Name: Outcome, Length: 366, dtype: int64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x_scaled, labels, test_size=0.1, random_state=42)

In [23]:
class Network:

    def __init__(self) -> None:

        self.w111 = np.random.normal()
        self.w112 = np.random.normal()
        self.w113 = np.random.normal()
        self.w114 = np.random.normal()
        self.w115 = np.random.normal()
        self.w116 = np.random.normal()
        self.w117 = np.random.normal()
        self.w118 = np.random.normal()

        self.w121 = np.random.normal()
        self.w122 = np.random.normal()
        self.w123 = np.random.normal()
        self.w124 = np.random.normal()
        self.w125 = np.random.normal()
        self.w126 = np.random.normal()
        self.w127 = np.random.normal()
        self.w128 = np.random.normal()

        self.w211 = np.random.normal()
        self.w212 = np.random.normal()
    
    def predict(self , data):

        h1 = self.sigmoid((self.w111 * data[0]) + (self.w112 * data[1])
                            +(self.w113 * data[2]) + (self.w114 * data[3])
                            +(self.w115 * data[4]) + (self.w116 * data[5])
                            +(self.w117 * data[6])+ (self.w118 * data[7]) 
                         )
        
        # h2 nöronunun değeri
        h2 = self.sigmoid((self.w121 * data[0]) + (self.w122 * data[1])
                            +(self.w123 * data[2]) + (self.w124 * data[3])
                            +(self.w125 * data[4]) + (self.w126 * data[5])
                            +(self.w127 * data[6])+ (self.w128 * data[7]) 
                        )
        
        # Tahmin değeri 01 nöronun değeri
        o1 = self.sigmoid((self.w211 * h1 ) + (self.w212 * h2 ))      
        return o1 
    
    def train(self , data , labels, epochs, learning_rate):

        for epoch in range(epochs):

            for x, y in zip(data , labels):
                
                h1 = self.sigmoid((self.w111 * x[0]) + (self.w112 * x[1])
                            +(self.w113 * x[2]) + (self.w114 * x[3])
                            +(self.w115 * x[4]) + (self.w116 * x[5])
                            +(self.w117 * x[6])+ (self.w118 * x[7]) 
                         )
        
                # h2 nöronunun değeri
                h2 = self.sigmoid((self.w121 * x[0]) + (self.w122 * x[1])
                                    +(self.w123 * x[2]) + (self.w124 * x[3])
                                    +(self.w125 * x[4]) + (self.w126 * x[5])
                                    +(self.w127 * x[6])+ (self.w128 * x[7]) 
                                )
                
                # Tahmin değeri 01 nöronun değeri
                o1 = self.sigmoid((self.w211 * h1 ) + (self.w212 * h2 )) 

    
                error = y - o1;
    
                o1_error_measure = self.sigmoid_der(o1) * error;

                h1_error_measure = self.sigmoid_der(h1) * (o1_error_measure * self.w211);

                h2_error_measure = self.sigmoid_der(h2) * (o1_error_measure * self.w212);
    

                # Wxyz += dWxyz

                self.w211 += learning_rate * o1_error_measure * h1;
                self.w212 += learning_rate * o1_error_measure * h2;
    
                self.w111 += learning_rate * h1_error_measure * x[0];
                self.w112 += learning_rate * h1_error_measure * x[1];
                self.w113 += learning_rate * h1_error_measure * x[2];
                self.w114 += learning_rate * h1_error_measure * x[3];
                self.w115 += learning_rate * h1_error_measure * x[4];
                self.w116 += learning_rate * h1_error_measure * x[5];
                self.w117 += learning_rate * h1_error_measure * x[6];
                self.w118 += learning_rate * h1_error_measure * x[7];
    
                self.w121 += learning_rate * h2_error_measure * x[0];
                self.w122 += learning_rate * h2_error_measure * x[1];
                self.w123 += learning_rate * h2_error_measure * x[2];
                self.w124 += learning_rate * h2_error_measure * x[3];
                self.w125 += learning_rate * h2_error_measure * x[4];
                self.w126 += learning_rate * h2_error_measure * x[5];
                self.w127 += learning_rate * h2_error_measure * x[6];
                self.w128 += learning_rate * h2_error_measure * x[7];
    
        predictions = np.apply_along_axis(self.predict ,1, data)
        loss = self.mse_loss(labels , predictions)
        print("Devir %d loss: %.7f" % (epoch, loss))
    
    
    def sigmoid(self , x):
        return (1/(1+np.exp(-x)))   
    
    def sigmoid_der(self , x):
        return x * (1 - x)
    
    def mse_loss(self , y_real , y_prediction):
        return ((y_real - y_prediction) ** 2).mean()

In [24]:
myNetwork = Network();

In [25]:
myNetwork.train(X_train, y_train, 500, 0.01);

Devir 499 loss: 0.1686232

In [26]:
for x, y in zip(X_test , y_test):
    value = myNetwork.predict(x);
    print("Predict -> {} Gerçek Değer -> {}".format(value, y));

Predict -> 0.4032298631038158 Gerçek Değer -> 1
Predict -> 0.13431392900116287 Gerçek Değer -> 0
Predict -> 0.12667750564652214 Gerçek Değer -> 0
Predict -> 0.2833630840849175 Gerçek Değer -> 0
Predict -> 0.14899557607248348 Gerçek Değer -> 0
Predict -> 0.5020653628799915 Gerçek Değer -> 0
Predict -> 0.14929728917795954 Gerçek Değer -> 0
Predict -> 0.4030204088577571 Gerçek Değer -> 0
Predict -> 0.4485289352300419 Gerçek Değer -> 0
Predict -> 0.23607803114305348 Gerçek Değer -> 1
Predict -> 0.20630012636838818 Gerçek Değer -> 1
Predict -> 0.14919244317155458 Gerçek Değer -> 0
Predict -> 0.5716505411008267 Gerçek Değer -> 0
Predict -> 0.5895026948341924 Gerçek Değer -> 1
Predict -> 0.29849086691509236 Gerçek Değer -> 0
Predict -> 0.23414548006322483 Gerçek Değer -> 1
Predict -> 0.11828765111368038 Gerçek Değer -> 0
Predict -> 0.1361390138999015 Gerçek Değer -> 0
Predict -> 0.2734834402625467 Gerçek Değer -> 0
Predict -> 0.7418896848816247 Gerçek Değer -> 0
Predict -> 0.3610343574923704 Gerçek Değer -> 0
Predict -> 0.2773578973151635 Gerçek Değer -> 0
Predict -> 0.38859939751335554 Gerçek Değer -> 1
Predict -> 0.2083424876027175 Gerçek Değer -> 0
Predict -> 0.19554810698322933 Gerçek Değer -> 0
Predict -> 0.3835236860942965 Gerçek Değer -> 1
Predict -> 0.3222509444692386 Gerçek Değer -> 0
Predict -> 0.6123838171608718 Gerçek Değer -> 1
Predict -> 0.403013966748212 Gerçek Değer -> 1
Predict -> 0.6065934707706307 Gerçek Değer -> 1
Predict -> 0.17071256205849739 Gerçek Değer -> 0
Predict -> 0.5732252102624078 Gerçek Değer -> 0
Predict -> 0.42029034774443513 Gerçek Değer -> 0
Predict -> 0.16695478745327488 Gerçek Değer -> 0
Predict -> 0.2047750529039379 Gerçek Değer -> 0
Predict -> 0.3168752114307762 Gerçek Değer -> 0
Predict -> 0.4004619481506145 Gerçek Değer -> 0

In [28]:
all_prediction =  [];
for x in X_test:
    if(myNetwork.predict(x) > 0.5):
        all_prediction.append(1)
    else:
        all_prediction.append(0);

In [29]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, all_prediction)
cm.T

array([[23,  7],
       [ 4,  3]], dtype=int64)

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, all_prediction));

              precision    recall  f1-score   support

           0       0.77      0.85      0.81        27
           1       0.43      0.30      0.35        10

    accuracy                           0.70        37
   macro avg       0.60      0.58      0.58        37
weighted avg       0.68      0.70      0.68        37